fastapi==0.78.0
uvicorn==0.17.6
pytest==7.1.2
requests==2.27.1
python-jose[cryptography]
python-jose==3.3.0
bcrypt==3.2.2
passlib==1.7.4
passlib[bcrypt]
pydantic[email]
flake8==4.0.1
black==22.3.0
motor==3.0.0
pyflakes==2.4.0
pymongo==4.1.1
python-multipart==0.0.5
psutil==5.9.1

msrestazure==0.6.4
azure-identity==1.10.0
azure-mgmt-compute==26.1.0
azure-mgmt-network==20.0.0
azure-mgmt-resource==21.1.0
